input {
    border: 2px solid rgb(222, 214, 214) !important;
}

.image-logo {
    height: 45px !important;
    width: 45px;
    border-radius: 50%;
}
.image-nav {
    height: 38px;
    width: 38px;
    border-radius: 50%;
}
label {
    font-weight: 600;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 18px;
}
.btn-submit {
    width: 200px;
    height: 43px;
    background-color: rgb(70, 145, 70) !important;
}
.btn-submit:hover {
    background-color: green !important;
    transform: scale(1.1);
    font-size: 19px;
}

.btn-login {
    width: 200px;
    height: 43px;
    background-color: rgb(70, 71, 145) !important;
}
.btn-login:hover {
    background-color: rgb(40, 27, 143) !important;
    transform: scale(1.1);
    font-size: 19px;
}

.Link, a {
    font-size: 21px  !important;
    text-decoration: none;
}
ul {
    list-style-type: square;
}
.dropdown-nav {
    margin-left: -80px;
    background-color: whitesmoke;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.dropdown-nav > li:hover {
    background-color: powderblue;
    font-weight: 600;
    font-size: 17px;
    border-radius: 5px;
}
.dropdown-nav > p {
    margin-bottom: 5px;
    padding-bottom: 5px ;
}

hr{
    margin-bottom: 0px;
    margin-top: 10px;
}
.dropdown-nav > p:hover {
    background-color: rgb(200, 146, 146);
    /* font-weight: 600; */
    font-size: 17px;
    /* border-radius: 5px; */
    cursor: pointer;
}
.dropdown-nav > li:focus {
    color: blue !important;
    font-weight: 600;
    border-radius: 5px;
}
.dropdown-toggle::after{
    display: none;
}